<p>
  <span style="font-family: &quot;Courier New&quot;; color: rgb(0, 0, 0); font-size: 14px;"><b>
          Natural Language Processing with Graph</b><br>
<br>
            by David Stevens (DXC)
<br>
          working project to explore NLP within NEO4j
<br><br><br><b>
          <a href="/">[RETURN]</a></b>
          </span>
<p><br></p>