<p>
  <span style="font-family: Courier New;; color: rgb(0, 0, 0); font-size: 14px;"><b>
          Natural Language Processing with Graph</b></span>
          <br></p>
          <table class="table table-bordered">
    <tbody><tr>
        <td><a href="/add"><button><font face="Courier New">Add a transcript</font></button></a></td>
        <td><a href="/addTwitter"><button><font face="Courier New">Add a twitter user</font></button></a></td>
        </tr>
        <tr>        </tr>
        <tr>
        <td><a href="/review"><button><font face="Courier New">Review a transcript</font></button></a></td>
        <td><a href="/reviewPerson"><button><font face="Courier New">Review by person</font></button></a></td>
        </tr>
        <tr>
        <td><a href="/about"><button><font face="Courier New">About</font></button></a></td>
    </tr></tbody></table>
<p><br></p>